<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% assets 'css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="icon" href="{{ url_for('static', filename='kawalpembangunanlogo.jpg') }}">
    <title>Kawal Pembangunan</title>
</head>

<body>
    <nav class="h-16 text-lg p-4">
        <div class="">
            <img src="{{ url_for('static', filename='kawalpembagnunanlogo.jpg') }}" alt="">
            <span class="font-bold uppercase text-lg">
                Kawal Pembangunan
            </span>
            <a href="{{ url_for('home') }}" class="hover:text-red-500 mx-16 ease-linear duration-100">Home</a>
            <a href="#" class="hover:text-red-500 mx-16 ease-linear duration-100">FAQ</a>
            <a href="#" class="hover:text-red-500 mx-16 ease-linear duration-100">Laporkan</a>
        </div>
    </nav>
    {% block content %}

    {% endblock content %}
</body>

</html>