<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% assets 'css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <title>Kawal Pembangunan</title>
</head>

<body>
    <nav class="bg-green-500 h-16 text-lg p-4">
        <div class="">
            <span class="font-bold uppercase text-lg">Kawal Pembangunan</span>
            <a href="{{ url_for('home') }}" class="hover:text-white mx-16 ease-linear duration-100">Home</a>
            <a href="#" class="hover:text-white mx-16 ease-linear duration-100">FAQ</a>
            <a href="#" class="hover:text-white mx-16 ease-linear duration-100">Laporkan</a>
        </div>
    </nav>
    {% block content %}

    {% endblock content %}
</body>

</html>