{% extends "base.html" %}
{% block content %}
<section class="px-8 pt-8 h-full">
    <div class="px-8 pt-8 rounded-lg shadow-xl pb-8" style="background-image: url(../static/img/faqbg.png);">
        <div class="text-2xl text-blue-800 text-bold text-center font-bold ">
            <h1>
                Frequently Asking Question
                <br>
                (FAQ)
            </h1>
        </div>
        <div class="mt-4">
            <div>
                <h2 class="text-2xl font-bold my-4">
                    Apa Itu Kawal Pembangunan?
                </h2>
                <p class="text-justify">
                    <span class="font-bold">Kawal Pembangunan</span> adalah sistem yang mengintegrasikan antara government, business, dan citizen. Kawal Pembangunan ini  akan mengintegrasikan pembangunan di berbagai sektor sehingga citizen mampu mengawal pembangunan yang ada di sekitar mereka melalui transparansi data serta fitur laporan dan Kawal Pembangunan juga bisa menjadi ladang investasi bagi pemerintah , sektor bisnis, dan citizen. 
                </p>

                <h2 class="text-2xl font-bold my-4">
                    Mengapa kami menciptakan Kawal Pembangunan?
                </h2>
                <p class="text-justify">
                    Kami menciptakan Kawal Pembangunan karena keprihatinan kami melihat banyaknya rencana/proses pembangunan pemerintah yang tidak berjalan dengan baik: pembangunan terhambat, ‘mangkrak’, atau juga proses pembangunan terlalu panjang. 
                </p>

                <h2 class="text-2xl font-bold my-4">
                    Apa saja fitur yang dimiliki Kawal Pembangunan?
                </h2>
                <p class="text-justify">
                    Untuk sekarang ini Kawal Pembangunan memiliki fitur integrasi dokumen dan data pembangunan, kontak pihak yang membangun, dan fitur “melapor” untuk masyarakat sipil dalam melaporkan ataupun mengevaluasi pembangunan di daerahnya.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}