{% extends "base.html" %}
{% block content %}
<h2 class="text-lg m-8 font-bold">
{{ sektor.nama_sektor }}
</h2>

{% if sektor.id == 1 %}
<section class="h-screen ">
    <div class="p-16 grid grid-rows-3 gap-8">
        <div class="rounded-lg border-2 border-black h-32 bg-blue-700">

        </div>

        <div class="rounded-lg border-2 border-black h-32 bg-blue-700">

        </div>

        <div class="rounded-lg border-2 border-black h-32 bg-blue-700">

        </div>
    </div>
</section>

{% elif sektor.id == 2 %}

<section class="h-screen ">
    <div class="p-16 grid grid-rows-3 gap-8">
        <div class="rounded-lg border-2 border-black h-32 bg-green-500">

        </div>

        <div class="rounded-lg border-2 border-black h-32 bg-green-500">

        </div>

        <div class="rounded-lg border-2 border-black h-32 bg-green-500">

        </div>
    </div>
</section>

{% elif sektor.id == 3 %}
<div>
    {{ sektor.pembangunan }}
</div>
<section class="h-screen ">
    <div class="p-16 grid gap-8">
        {% for pembangunan in sektor.pembangunan %}
        <div class="rounded-lg border-2 border-black h-32 bg-blue-300">
            {{ pembangunan.kodeTender }}
        </div>
        {% endfor %}
    </div>
</section>

{% elif sektor.id == 4 %}
<section class="h-screen">
    <div class="p-16 grid grid-rows-3 gap-8">
        <div class="rounded-lg border-2 border-black h-32 bg-red-500">

        </div>

        <div class="rounded-lg border-2 border-black h-32 bg-red-500">

        </div>

        <div class="rounded-lg border-2 border-black h-32 bg-red-500">

        </div>
    </div>
</section>

{% endif %}
{% endblock content %}